//********************
// FONT Type
//********************

@font-face {
  font-family: 'MaruBuri';
  font-weight: 400;
  font-style: normal;
  src: url(https://cdn.jsdelivr.net/gh/webfontworld/naver/MaruBuri-Regular.woff2)
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosans/v27/o-0IIpQlx3QUlC5A4PNr6zRASf6M7VBj.woff2)
    format('woff2');
}

@font-face {
  font-family: 'Noto Sans Arabic';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/notosansarabic/v18/nwpCtLGrOAZMl5nJ_wfgRg3DrWFZWsnVBJ_sS6tlqHHFlj4wv4rqxzLI.woff2)
    format('woff2');
}

:lang(en-GB) {
  font-family: 'MaruBuri';
  font-display: swap;
}

:lang(en-US) {
  font-family: 'Noto Sans';
  font-weight: 100;
  font-display: swap;
}

:lang(ar-AE) {
  font-family: 'Noto Sans Arabic', sans-serif;
  font-display: swap;
}

//********************
// FONT Class
//********************
