//********************
// FONT Type
//********************

.font-light {
  font-weight: 300;
}
.font-regular {
  font-weight: 400;
}
.font-bold {
  font-weight: 600;
}

:lang(en-US) {
  font-family: 'Noto Sans', sans-serif;
  color: red;
}

:lang(ar-AE) {
  font-family: 'Noto Sans Arabic', sans-serif;
  color: blueviolet;
}
