$default-text-color: #000000;
$signature-color: #1c7bf2;

$responsive-max-width: 734px;

$module-height: 692px;
$module-height-mobile: 600px;

$module-img-height: 484px;
$module-img-height-mobile: 300px;

$category-unit-height: 580px;
$unit-img-height: 464px;
